@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: white;
  background-color: #27272a;
}

@keyframes animate-show {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-show {
  animation: animate-show 0.5s ease-in-out;
}
